html {
    overflow-x: hidden;
}
.simple-keyboard.darkTheme {
    background-color: #121212;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.darkTheme .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    color: white;
}

.simple-keyboard.darkTheme .hg-button:active {
    background: #1c4995;
    color: white;
}

#root .simple-keyboard.darkTheme + .simple-keyboard-preview {
    background: #1c4995;
}